@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
}

/* Para navegadores basados en WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(66, 66, 71);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

.titulo {
  font-family: 'Lexend', sans-serif;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333; /* Color de fondo de la página */
  z-index: -1;
}

/* Contenido adicional debajo de la barra de navegación */
.portada {
  margin-top: 1rem;
  height: 70vh;
}

/* Estilo para el nombre en negrita (bold) */
.display-3 {
  font-weight: 700;
}

/* Estilos para el contenedor del cubo y sus caras */
.cube-container {
  perspective: 800px;
  width: 200px; /* Ancho del cubo */
  height: 200px; /* Altura del cubo */
  margin: auto;
  margin-top: 50px;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(30deg) rotateY(45deg);
  transition: transform 0.5s ease-in-out;
  user-select: none; 
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  user-select: none;
}

/* Estilos específicos para cada cara */
.face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.face.python { transform: rotateY(0deg) translateZ(100px); }
.face.javascript { transform: rotateY(90deg) translateZ(100px); }
.face.html { transform: rotateY(180deg) translateZ(100px); }
.face.css { transform: rotateY(-90deg) translateZ(100px); }
.face.java { transform: rotateX(90deg) translateZ(100px); }
.face.csharp { transform: rotateX(-90deg) translateZ(100px); }

/* Cambia la apariencia del cursor al pasar sobre el cubo */
.cube:hover {
  transform: rotateX(0deg) rotateY(360deg);
}


/* Agrega estilos para la animación AOS */
[data-aos] {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

[data-aos].aos-animate {
  opacity: 1;
  visibility: visible;
}

/* Estilos para el título de la sección "Tecnologías" */
.titulo {
  font-size: 4rem; /* Tamaño grande */
  font-weight: bold; /* Negrita */
  opacity: 0.75; /* Opacidad al 50% */
  font-family: 'Lexend', sans-serif;
  margin-bottom: 10px;
}
/* CSS personalizado para cambiar el color de fondo del botón al hacer hover */
.btn-hover-light:hover {
  background-color: #333 !important; /* Cambia el color de fondo al hacer hover */
  color: #ffffff !important; /* Cambia el color del texto al hacer hover */
}

@media (max-width : 376px) {
  .tecnologias-section {
    margin-top: 450px;
  }
  .columna-final {
    display: flex;
    gap: 130px;
    margin-left: 35px;
    margin-right: 100px;
  }
  .titulo {
    font-size: 3rem;
  }
}

@media (max-width : 376px) {
  .tecnologias-section {
    margin-top: 450px;
  }
  .columna-final {
    display: flex;
    gap: 130px;
    margin-left: 35px;
    margin-right: 100px;
  }
  .titulo {
    font-size: 3rem;
  }
}
@media (min-width : 377px) {
  .tecnologias-section {
    margin-top: 450px;
  }
  .columna-final {
    display: flex;
    gap: 130px;
    margin-left: 35px;
    margin-right: 100px;
  }
  .titulo {
    font-size: 3rem;
  }
}

@media (min-width : 431px) {
  .tecnologias-section {
    margin-top: 393px;
  }
  .columna-final {
    display: flex;
    gap: 130px;
    margin-left: 35px;
    margin-right: 100px;
  }
  .titulo {
    font-size: 3rem;
  }
}
@media (min-width : 768px) {
  .tecnologias-section {
    margin-top: 100px;
  }
  .columna-final {
    display: flex;
    gap: 130px;
    margin-left: 35px;
    margin-right: 100px;
  }
  .titulo {
    font-size: 3rem;
  }
}